body {
  margin: 0;
  background-color: rgb(30, 30, 30);
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
  margin: 0;
  padding: 0;
}
/* For all sections except main */
.content-section {
  width: 360px;
  margin: 0 auto;
  box-sizing: border-box;
}
/* Dark sections */
.content-section_theme_dark {
  background-color: rgb(19, 19, 19);
  color: rgb(245, 245, 245);
}
/* Yellow sections */
.content-section_theme_bright {
  background-color: rgb(254, 228, 42);
  color: rgb(19, 19, 19);
}
/* Header */
.header {
  display: flex;
  padding: 24px 20px;
}

.header__logo-image {
  width: 78.45px;
  height: 15.43px;
}

.header__menu {
  margin-left: auto;
}

.header__menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style-type: none;
}

.header__menu-item_active:hover {
  border-bottom: none;
}

.header__menu-link {
  color: rgb(245, 245, 245);
  text-decoration: none;
  border-bottom: 1px solid rgb(245, 245, 245);
}
/* Cover */
.cover {
  background-image: url(/images/cover.svg);
  background-repeat: no-repeat;
  background-size: 95% auto;
  background-position: right center;
  min-height: 258px;
  padding: 7px 24px 30px 20px;

}
.cover__title {
  font-family: 'EB Garamond', 'Times New Roman', serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 1em;
}
.accent-span {
  display: block;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
/* Intro */
.intro {
  padding-right: 20px;
  padding-bottom: 38px;
  padding-left: 20px;

}

.intro__heading {
  display: flex;
  color: rgb(204, 204, 204);
}

.intro__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2em;
}
.intro__date {
  white-space: nowrap;
}
.intro__main-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 24px;
  line-height: 1.35em;
}
/* Reasons */
.reasons {
  padding: 40px 20px 39px 20px;
}
.content-section__subtitle {
  margin-bottom: 32px;
  font-family: 'EB Garamond', 'Times New Roman', serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.15em;
}
.content-section__introduction {
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 1.35em;
}
.content-section__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 16px;
  line-height: 1.35em;
}
.content-section__list-accent {
  font-weight: bold;
}
